@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blog-nav-size: 80px;
}

canvas {
  display: block;
}

.md-editor-preview-wrapper {
  padding: 0 !important;
}

.gradient-blur {
  -webkit-mask-image: linear-gradient(to left,white 10%,transparent 80%);
  mask-image: linear-gradient(to left,white 10%,transparent 80%);
}