@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blog-nav-size: 80px;
}

canvas {
  display: block;
}

.md-editor-preview-wrapper {
  padding: 0 !important;
}

.gradient-blur {
  -webkit-mask-image: linear-gradient(to left,white 10%,transparent 80%);
  mask-image: linear-gradient(to left,white 10%,transparent 80%);
}

.cels {
  transform: translate(-50%, 0);
  animation: bodycountAnim 1s ease-in-out forwards;
}

@keyframes bodycountAnim {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, calc(96px - 100%));
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

.stack > :nth-child(1) {
  position: relative;
  z-index: 10;
}

.stack > *:not(:nth-child(1)) {
  position: absolute;
  z-index: 0;
}

.stack > :nth-child(2) {
  position: absolute;
  transform: translate3d(0px, -10px, -32px);
  z-index: 5;
  animation: cardAnim .5s;
}

.stack > :nth-child(3) {
  position: absolute;
  transform: translate3d(0px, -20px, -64px);
  opacity: .75;
  z-index: 4;
  animation: cardAnim 1s;
}

.stack > :nth-child(4) {
  position: absolute;
  transform: translate3d(0px, -30px, -128px);
  opacity: .50;
  z-index: 3;
  animation: cardAnim 1.5s;
}

.stack > :nth-child(5) {
  position: absolute;
  transform: translate3d(0px, -40px, -160px);
  opacity: .25;
  z-index: 2;
  animation: cardAnim 2s;
}

.stack > :nth-child(6) {
  position: absolute;
  transform: translate3d(0px, -50px, -192px);
  opacity: 0;
  z-index: 1;
  animation: cardAnim 2.5s;
}

@keyframes cardAnim {
  from {
    transform: translateY(0px);
  }
}

.nsfw-warning[data-show="true"] {
  background-color: #00000070;
  backdrop-filter: blur(12px);
  pointer-events: all;
}

.nsfw-warning[data-show="false"] {
  pointer-events: none;
}

.nsfw-warning[data-show="false"] .warning-modal {
  transform: translateY(-100vh);
}

#preview-only-preview > * {
  word-break: normal;
}